@charset "utf-8";

/*
グローバル
*/
*{
  text-decoration: none;
  list-style: none;
  color: inherit;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
/* 入力系 */
.form-box{
  border: 1px solid #666;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
.field{
  width: 100%;
  margin: 1% auto 0;
}
input,select{
  width: 50%;
  padding: 5px;
}
.text-area{
  width: 100%;
}
.img-btn{
  width: fit-content;
}
.actions{
  margin-top: 5%;
}
.btn{
  width: 15%;
  color: #666;
  border: 1px solid #666;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bold;
  padding: 1%;
}
.grid{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  background-color: white;
}
a {
  color: white;
}

/*
ログイン
*/
#user_remember_me{
  width: auto;
}

/*
ヘッダー
*/
.header{
  height: 10vh;
  width: 100vw;
  background-color: #666;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.header-left-box{
  font-weight: bold;
  width: 40%;
}
.header-right-box{
  width: 60%;
  display: flex;
  justify-content: space-around;  
}
.header-btn{
  width: auto;
  font-size: small;
  text-align: center;
}
.user-name{
  padding: 1%;
  color: white;
}
.session-btn{
  background-color: #666;
}
.logout{
  background-color: #666;
}

/*
新規メモ作成ボタン
*/
.main{
  width: 100%;
  height: 90vh;
  overflow: scroll;
  margin: 0 auto;
}
.right-btn{
  width: 5vw;
  height: 5vh;
  margin: auto 0;
  align-items: center;
}
.new-memo-btn{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: auto 0;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  font-size: large;
  font-weight: bold;
  padding: 1%;
  background-color: #666;
  color: white;
}

/*
メモ(一覧)
*/
.memos-area{
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}
.memo{
  width: 100%;
  border: 1px solid #666;
  margin: 5% auto;
  padding: 1%;
  border-radius: 5px;
  overflow: hidden;
}
.memo-title{
  font-weight: bold;
}

.memo-title > a{
  color: black;
}

.memo-bottom{
  text-align: right;
  font-size: small;
}

/*
メモ(詳細)
*/
.memo-btns{
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: 0 0 0 auto;
}
.memo-edit-btn,.memo-btn,.memo-delete-btn{
  width: fit-content;
  color: white;
  background-color: #666;
}
.memo-created-at{
  text-align: right;
}

/*
モーダルCSS
*/
#openModal{
  cursor: pointer;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
}

.modal-btns{
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.modal-btn{
  width: auto;
  color: #666;
}

.modal-del-btn{
  display: block;
  width: auto;
  color: white;
  background-color: #666;
}

/* 
レスポンシブ設定
*/
/* タブレット */
@media (max-width: 1024px) {

}

/* スマホ */
@media (max-width: 599px) {
  .memo-btns{
    width: 40%;
  }

  .new-memo-btn{
    width: 50px;
    height: 50px;
  }

  .header-btn{
    width: auto;
    font-size: 11px;
  }

  .img-btn{
    font-size: 10px;
  }
}