<table>
  <tr>
    <th>タイトル</th>
    <td><%= @memo.title %></td>
  </tr>
  <tr>
    <th>作成日時</th>
    <td><%= @memo.created_at %></td>
  </tr>
  <tr>
    <th>メモ内容</th>
    <td><%= @memo.content %></td>
  </tr>
</table>